<!--schema generator: https://www.jamesdflynn.com/json-ld-schema-generator/ -->
<!-- usage: http://searchengineland.com/schema-markup-structured-data-seo-opportunities-site-type-231077-->
<script type="application/ld+json">

</script>
<div class="row">
	<div class="max-1080">
		<div class="row">
			<div class="col-xs-12">
				<div class="row" style="padding: 5px; padding-top:15px;">
					<!--<a href="{{ site.baseurl }}">
						<span class="proxima-nova-bold social-footer-links">LINK</span>
					</a>
					<a href="{{ site.baseurl }}">
						<span class="proxima-nova-bold social-footer-links">LINK</span>
					</a>
					<a href="{{ site.baseurl }}">
						<span class="proxima-nova-bold social-footer-links">LINK</span>
					</a>-->
				</div>
				<div id="footer-social" class="row" style="position: relative; height: 25px;">
					<!--<a href="http://facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
					<a href="http://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
					<a href="http://instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
					<a href="http://pinterest.com/" target="_blank"><i class="fa fa-pinterest-p"></i></a>
					<a href="http://www.youtube.com/c/" target="_blank"><i class="fa fa-youtube"></i></a>
					<a href="http://vimeo.com/secondcropcreative" target="_blank"><i class="fa fa-vimeo-square"></i></a>
					<a href="/contact"><i class="fa fa-envelope"></i></a>-->
				</div>
				<div id="footer-contacts" class="row">
					<!--<div><i class="fa fa-phone"></i> 608.358.0871</div>
					<div><i class="fa fa-envelope"></i>-->
						<!-- email obfuscators:-->
						<!-- http://www.albionresearch.com/misc/obfuscator.php-->
						
					</div>
					<!--<div><address><i class="fa fa-map-marker"></i><a href="https://goo.gl/maps/WFygb">2109 N. Page St Stoughton, WI 53589</a></address></div>-->
				</div>
				<div id="footer-copyright" class="row">
					<p>
						<i class="fa fa-copyright"></i>
						<script type="text/javascript">
						document.write(new Date().getFullYear());
						</script>
						<!-- NAME HERE-->
						NFL Fines
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- defer of css via google pagespeed-->
<script async src="{{ site.baseurl }}/dist/js/min/nflfines.min.js"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
