<style type="text/css">
a.navbar-brand {
	color: #222;
	text-align: center;
	float: none !important;
	font-size: 5rem;
	letter-spacing: .3rem;
}

#main-nav {
	margin: 0px -5px;
}

.navbar-header {
	text-align: center;
	width: 100%;
	padding-top: 10px;
}

.navbar-nav {
	width: 100%;
	text-align: center;
}

.navbar-nav>li {
	float: none;
	display: inline-block;
}

@media screen and (max-width: 767px) and (min-width: 1px) {
	.navbar-header {
		padding: 0px;
	}
	.navbar-brand>img {
		max-width: 60px;
	}
	a.navbar-brand {
		font-size: 3.2rem;
		line-height: 12px;
	}
	.navbar-nav>li {
		display: block;
		text-align: left !important;
	}
}
</style>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<nav class="navbar" role="navigation">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header tk-gin">
					<button data-target="#main-nav" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
					<a href="{{ site.baseurl }}/" class="navbar-brand">
						<img src="{{ site.baseurl }}/assets/css/images/logo-150.png" />NFL Fines
					</a>
				</div>
				<!-- /.navbar-collapse -->
			</nav>
		</div>
	</div>
</div>
